.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 50px,10%;
  position: fixed;
  box-sizing: content-box;
}
header menu{
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
section{
  background-color: tan;
  margin: 0;
  padding: 100px;
}
section.hero, section.about{
  display: flex;
  gap: 20%;
}
section main{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.hero picture{
  width: 50%;
}
section picture img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
section .Hs{
margin: 0 -100px;
width: inherit;
overflow-x: scroll;
}
section .Hs>div{
  margin: 0 100px;
  box-sizing: content-box;
}
section .Hs div{
  width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
article.food{
  width: 320px;
  display: inline;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 20px;
}
article.food img{
  width: 100%;
}
article.food details{
  margin: 20px;
}
/* article.food a{ }*/

footer{
  display: flex;
}

article.review{
  width: 320px;
  border-radius: 8px;
  padding: 20px;

}
article.review picture{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline;
}
article.food picture{
  height: 320px;
}
article.food summary{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
article.food img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}

article.review img{
  width: inherit;
  border-radius: 50%;
  height: inherit;
  object-fit: cover;
}
article.review div{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}
section aside{
  width: 50%;
  display: flex;
  flex-direction: column;
}
section aside picture{
  width: 80%;
}
section aside picture:first-child {
  margin-left: 20%;
  margin-bottom: -60%;
}
